<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Argumento:</i> {{argv}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Path de ejecución:</i> {{execPath}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Carpeta del proyecto:</i> {{path}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Sistema operativo:</i> {{sistemaOperativo}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Node versión:</i> {{versionNode}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">Memoria:</i> {{arrayBuffers}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">ID:</i> {{idProcess}}</li>
        <li class="list-group-item"><i class="p-2 bg-primary text-white">CPUS:</i> {{cpus}}</li>
    </ul>
</div>